
body {
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  font-weight: 150;
  font-size: 32px;
  line-height: 60px;
  color: rgb(8, 7, 7);
  background: #787a9b;
}

.container {
  max-width: 700px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  position: relative;
}

#estimator input[type="number"],
#estimator input[type="number"],
#estimator input[type="number"],
#estimator input[type="number"],
#estimator input[type="number"],
#estimator button[type="submit"] {
  font: 400 20px/26px "Roboto", Helvetica, Arial, sans-serif;
}

#estimator {
  background: #F9F9F9;
  padding: 60px;
  margin: 150px 0;

  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

#estimator h3 {
  display: block;
  font-size: 30px;
  font-weight: 400;
  margin-bottom: 20px;
  text-align: center;
}

#estimator h4 {
  margin: 5px 0 15px;
  display: block;
  font-size: 13px;
  font-weight: 400;
}

fieldset {
  border: medium none !important;
  margin: 0 0 10px;
  min-width: 100%;
  padding: 0;
  width: 100%;
  height: 40%;
}

#estimator input[type="number"],
#estimator input[type="number"],
#estimator input[type="number"],
#estimator input[type="number"],
#estimator select[type="number"]

#estimator input[type="text"]:hover,
#estimator input[type="email"]:hover,
#estimator input[type="tel"]:hover,
#estimator input[type="url"]:hover,
#estimator textarea:hover {
  -webkit-transition: border-color 0.3s ease-in-out;
  -moz-transition: border-color 0.3s ease-in-out;
  transition: border-color 0.3s ease-in-out;
  border: 2px solid #aaa;
}


#estimator button[type="submit"] {
  cursor: pointer;
  width: 100%;
  border: none;
  background: rgb(53, 18, 182);
  color: #FFF;
  margin: 0 0 5px;
  padding: 10px;
  font-size: 25px;
}

#estimator button[type="submit"]:hover {
  background:#aabb0f;
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}

#estimator button[type="submit"]:active {
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
}



#estimator input:focus,
#estimator textarea:focus {
  outline: 0;
  border: 1px solid #aaa;
}

::-webkit-input-placeholder {
  color: #888;
}

:-moz-placeholder {
  color: #888;
}

::-moz-placeholder {
  color: #888;
}

:-ms-input-placeholder {
  color: #888;
}